*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
}
html,body{
    overflow-x: hidden;
}
.hidden{
    display: none;
}
:root{
    --primary-color:#ff900e; 
    --secondary-color: #fff4e7;
}
.btn{
    background-color: var(--primary-color);
    padding: 12px 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
/* Header Section */
header{
    height: vh;
    width: 100%;
    background-color: var(--secondary-color);
}
.nav-bar{
    display: flex;
    width: 1150px;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 auto;
}
.header-logo{
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    padding-left: 40px;
    font-size: 18px;
    font-weight:500;
}
/* Hero Sectoion */
.hero-section{
    width: 1150px;
    margin: 100px auto;
    position: relative;
   
}
.hero-discription{
    width: 800px;
    height: 200px;
    margin: 0 auto ;
}
.hero-title{
    font-size: 40px;
    font-weight:700;
    text-align: center;
}
.hero-discription{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0 0 0;
}
.button-top{
    width: 500px;
    height: 100px;
    position: relative;
    margin: auto;
}
.hero-btn{
    background-color: var(--primary-color);
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    position: absolute;
    left: 38%
}
.hero-image{
    width: 100%;
    max-width: 1150px;
    padding: 10px 0 50px 0;
}
/* Our Features Section */
.features{
    width: 1100px;
    margin: 0 auto;
}
.features-section{
    display: flex;
}
.freatures-images{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 10px;
    margin-right: 80px;
}
.featutes-image{
    width: 260px;
}
.features-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;  
}
.features-title{
    font-size: 40px;
    padding-bottom: 30px;
}
.features-discription{
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 1.3em;
}
.features-btn{
    background-color: var(--primary-color);
    width: 130px;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
/* Features Points */
.features-points-section{
    max-width: 1150px;
    margin: 100px auto;
}
.features-points{
    display: flex;
}
.features-left-side{
    padding-right: 100px;
}
.features-left-side-title{
    height: 90px;
    padding-left: 20px;
    border-left: 5px solid #ff900e;
}
.left-side-title{
    font-size: 35px;
    font-weight: 600;
}
.left-side-description{
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.3em;
    padding-bottom: 30px;
}
.features-point{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px 5px rgba(28, 28, 28, 0.106);
}
.point-title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}
.pont-description{
    font-size: 16px;
    line-height: 1.2em;
}

.right-side-image{
    width: 500px;
}
/* count down */
.count-down{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    position: relative;
    top: -80px;
    right: 50px;
    
}
.count-down-title{
    font-size: 40px;
    font-weight:600;
    text-align: center;
    color: white;
}
.count-down-description{
    font-size: 20px;
    text-align: center;
    color: white;
}
/* facts section */
.some-facts-section{
    padding: 0 0 50px 0;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}
.facts-title{
    font-size: 35px;
    font-weight: 600;
}
.facts-sub-title{
    font-size: 16px;
    line-height: 1.2em;
    padding: 25px 0;
}
.facts-count-downs{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-items: center;
    margin: 50px auto;
    
}
.facts-count-down{
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    transition: height .5s, width .5s ease, transform .5s ease ;
}
.facts-count-down:hover {
    box-shadow: 5px 5px 5px var(--primary-color);
    cursor: pointer;
    width:160px ;
    height:160px;
}
/* blog section */
/* blog section */

.blog-heading{
    font-size:40px;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 20px;
}
.blog-sub-heading{
    font-size:20px;
    font-weight: 600px;
    text-align: center;
    margin-bottom: 50px;
}
.my-blogs{
    max-width: 1150Px;
    display: flex;
    margin:0 auto;
    justify-content: center;
    gap: 50px;
    /* box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.206) ; */
}  
.my-blog{
    width: 350px;
    background-color: rgba(226, 226, 226, 0.405);
    border-radius: 10px;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.206) ;
    margin-bottom: 100px;

}
.blog-image{
    width: 100%;
    height: 200px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;

}
.blog-title{
    font-size: 20px;
    font-weight: 700;
    padding: 5px 15px 10px 15px;

}
.blog-summary{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 15px 10px 15px;

}
.read-blog{
    color: #FD6E0A;
    background-color: #ffffff00;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;

}
/* Sponsor section */
.sponsor-section{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.sponsor-title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.sponsor-sub-title{
    font-size: 16px;
    line-height: 1.2em;
    padding: 25px 0;
    text-align: center;
}
.sponsor-logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin: 0 auto;
}
.sponsor-icon{
    width: 100px;
    filter: grayscale();
}
/* footer section */
.footer-section{
    max-width: 1150px;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 80px auto 0;
}
.footer-copy-rigt{
    font-size: 16px;
    padding: 25px;
    text-align: center;
}
/* Media query */
/* header responsive */
@media (min-width: 200px) and (max-width: 576px) {
    .header-logo{
    }
    header{
        height: vh;
        width: 100%;
        background-color: white;
    }
    .nav-bar{
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
        margin: 0 auto;
        width: 575px;
        padding: 15px 5px
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
    }
    .nav-menu li{
        list-style: none;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight:500;
    }
    .hero-discription{
        width: 100%;
        height: 200px;
        margin: 0 auto ;
    }
    .hero-section{
        width: 100%;
        margin: 50px auto;
       
    }
    .hero-title{
        font-size: 30px;
    }
    .hero-discription{
        margin: 0;
        font-size: 15px;
    }
   
    /* our features section */
    .features{
        width: 100%;
    }
    .features-section {
    display: flex;
    flex-direction: column;
    }
    .freatures-images{
        padding-top: 20px;
        padding-left: 15px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .featutes-image{
        width: 100%;
        padding-bottom: 10px;
        
    }
    .features-details{
        padding: 30px;
    }
    .features-title{
        font-size: 30px;
    }
    .features-discription{
        font-size: 15px;
    }
    /* features points */
    .features-right-side {
        padding: 20px;
    }
    .right-side-image{
        width: 100%;
    }
    .count-down{
    position: relative;
    top: -80px;
    right: 0px;
    }
    .left-side-title{
        font-size: 30px;
    }
    .features-left-side {
        padding: 20px;
    }

    .features-points{
        display: flex;
        flex-direction:column-reverse;
        max-width: 100%;
        
    }
    /* our fact section */
    .some-facts-section{
        width: 100%;
        padding: 30px;
    }
    .facts-title{
        font-size: 25px;
    }
    .facts-sub-title{
        font-size: 15px;
    }
    .facts-count-downs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 50px auto;
        gap: 20px;
    }
    /* blog section */
    .my-blogs{
        display: flex;
        flex-direction: column;
    }
    .my-blog{
        margin: 0 auto;
    }
    .blog-heading{
        font-size: 25px;
    }
    .blog-sub-heading{
        font-size: 15px;
    }
    /* our sponsor section */
    .sponsor-section{
        padding: 30px;
    }
    .sponsor-title{
        font-size: 25px;
    }
    .sponsor-sub-title{
        font-size: 15px;
    }
    .sponsor-logos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin: 0 auto;
    }
    .sponsor-icon{
        padding: 20px;
    }
    .footer-section{
        margin-top: 50px;
    }
    .footer-copy-rigt{
        font-size: 14px;
    }
}
 
    
    
    
  